@import "fonts"
@import "null"
@import "bem-block"
@import "select-style"
@import "header"
@import "mob-adapt-header"
@import "footer"
@import "category"
@import "product"

/* ===========================================  nav-category-block */
.main-section
	padding-top: 44px
	min-height: 788px
	height: 100%
	background: url('../img/main/bg.jpg') center center / cover no-repeat
	position: relative
	padding-bottom: 20px
	z-index: 3
	&::after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.75)
		z-index: 4

	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: url('../img/main/fon.png') top center / cover no-repeat
		z-index: 5

	&__container
		position: relative
		z-index: 20
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 788px
		height: 100%

	&__wrapper
		display: flex
		flex: 1 1 auto
		flex-wrap: wrap

	&__benef-block-wrapper
		display: flex
		justify-content: space-evenly
		position: relative
		flex: 1 1 auto
		flex-wrap: wrap
		gap: 30px
		align-items: center
		padding-top: 30px
		&::after
			content: ''
			position: absolute
			display: block
			width: 300%
			min-height: 220px
			height: 100%
			background: rgba(0,0,0,0.2)
			z-index: 4
			top: 0
			left: -50%
			z-index: -2

	&__img
		max-width: 447px
		max-height: 500px
		width: 100%
		height: 100%
		position: relative

		&::before
			content: ''
			display: block
			position: absolute
			top: 13%
			left: 60%
			max-width: 323px
			max-height: 442px
			width: 100%
			height: 100%
			background: url('../img/main/dec01.svg') no-repeat
			z-index: 5

		img
			width: 100%
			height: 100%
			position: relative
			z-index: 6

.dots-block
	width: 20px
	height: 20px
	background: #E8AA31
	border-radius: 100%
	position: absolute
	z-index: 9
	display: flex
	justify-content: center
	align-items: center
	font-weight: 600
	font-size: 20px
	line-height: 34px
	color: rgba(255, 255, 255, 1)
	top: 37%
	left: 20%
	cursor: pointer

	div
		display: none
		position: absolute
		top: -45px
		left: -100%
		font-weight: 500
		font-size: 18px
		line-height: 28px
		color: #000
		white-space: nowrap
		background: rgba(255, 255, 255, 0.8)
		padding: 0 10px
		border-radius: 5px

	&:hover.dots-block div
		display: block

	&:nth-child(2)
		top: 13%
		left: 95%
		@media (max-width: 649.98px)
		div
			top: 45px
			left: -128px

	&:nth-child(3)
		top: 81%
		left: 92%
		@media (max-width: 649.98px)
		div
			top: -45px
			left: -179px
	&::before
		content: ''
		display: block
		position: absolute
		width: 30px
		height: 30px
		background: rgba(232, 170, 49, 0.5)
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: -2
		border-radius: 100%
		animation-name: circle
		animation-duration: 1s
		animation-timing-function: lease-in
		animation-iteration-count: infinite
		animation-direction: normal
		animation-play-state: running
		animation-delay: 0s
		animation-fill-mode: none
	&:hover::before
		animation-play-state: paused

@keyframes circle
	0%
		width: 30px
		height: 30px
	50%
		width: 35px
		height: 35px
	100%
		width: 30px
		height: 30px

.main-slider-block
	max-width: 915px
	width: 100%

	&__slide
		padding: 0 10px
		margin: 0 3px
		overflow: hidden

	&__title
		font-weight: 700
		font-size: 36px
		line-height: 46px
		letter-spacing: 0.03em
		color: #FFFFFF
		margin-bottom: 15px
		span
			font-weight: 500

		@media (max-width: 497.98px)
			font-size: 21px
			line-height: 33px

	&__descr
		font-weight: 500
		font-size: 20px
		line-height: 30px
		letter-spacing: 0.03em
		color: rgba(255, 255, 255, 0.7)
		margin-bottom: 60px
		@media (max-width: 497.98px)
			font-size: 14px
			line-height: 26px

	&__link
		background: #E8AA31
		box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43)
		border-radius: 3px
		font-weight: 600
		font-size: 20px
		line-height: 46px
		color: #FFFFFF
		display: block
		width: 228px
		height: 50px
		display: flex
		justify-content: center
		align-items: center
		transition: all 0.3s
		&:hover
			box-shadow: 0px 4px 20px rgba(232, 170, 49, 0)

	.slick-dots
		display: flex
		gap: 15px
		justify-content: flex-start
		margin-top: 30px
		margin-left: 20px
		@media (max-width: 938.98px)
			margin-top: 36px
		button
			font-size: 0
			width: 18px
			height: 2px
			background: #FFFFFF
		.slick-active
			button
				background: #E8AA31
				position: relative
				&::before
					content: ''
					display: block
					position: absolute
					width: 10px
					height: 10px
					background: #E8AA31
					top: -4px
					left: -6px
					border-radius: 100%
					transition: all 0.3s

			&:hover ::before
				background: #E8AA31
				left: 12px

.block-benef
	flex: 0 1 295px
	display: flex
	flex-direction: column
	align-items: center
	gap: 17px

	&__text
		font-weight: 600
		font-size: 20px
		line-height: 32px
		text-align: center
		color: #FFFFFF

/* ===========================================  nav-category-block */
.nav-category-block
	padding: 30px 0 50px 0

	&__container
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(509px, 1fr))
		gap: 30px
		@media (max-width: 550.98px)
			grid-template-columns: 1fr

.category-block
	background: #FFFFFF
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
	padding: 28px
	overflow: hidden
	display: flex
	gap: 20px
	min-height: 300px
	@media (max-width: 643.98px)
		flex-direction: column
	@media (max-width: 550.98px)
		gap: 5px

	&__text
		flex: 1 1 auto
		position: relative
		z-index: 3

	&__title
		font-weight: 600
		font-size: 24px
		line-height: 34px
		color: #000000
		position: relative
		margin-bottom: 45px
		&::after
			content: ''
			position: absolute
			display: block
			bottom: -15px
			left: 0
			height: 2px
			width: 68px
			background: #E8AA31

	&__item
		margin-bottom: 10px
		padding-left: 21px
		position: relative
		&::before
			content: ''
			position: absolute
			display: block
			top: 50%
			left: 0
			height: 6px
			width: 6px
			border-radius: 100%
			transform: translateY(-50%)
			background: #E8AA31
			transition: all 0.3s

		&:hover::before
			height: 13px
			width: 13px

		a
			font-weight: 500
			font-size: 18px
			line-height: 34px
			color: #000000

	&__img
		flex: 0 1 155px
		position: relative
		z-index: 2
		@media (max-width: 550.98px)
			flex: 0 1 100px

		img
			position: absolute
			top: 10px
			left: -79px
			width: 300px
			height: 300px
			@media (max-width: 550.98px)
				top: -36px
				left: 52px
				width: 245px
				height: 245px

/* ===========================================  new-product-slider */

.new-product-slider
	background: linear-gradient(rgb(0, 0,0, 0.55), rgba(0, 0, 0, 0.55)), url('../img/new-prod-slider/bg.jpg') center center / cover no-repeat
	min-height: 794px
	padding: 20px 0

	&__container
		display: grid
		grid-template-columns: 336px auto
		gap: 66px
		@media (max-width: 1335.98px)
			grid-template-columns: 1fr
			gap: 5px

	&__text-block
		padding: 18px 0 10px 0

	&__title
		font-weight: 700
		font-size: 30px
		line-height: 46px
		letter-spacing: 0.05em
		color: #FFFFFF
		margin-bottom: 30px

	&__descr
		font-weight: 500
		font-size: 18px
		line-height: 27px
		letter-spacing: 0.03em
		color: rgba(255, 255, 255, 0.7)
		margin-bottom: 60px

	&__link
		font-weight: 600
		font-size: 20px
		letter-spacing: 0.05em
		color: #E8AA31
		position: relative
		transition: all 0.3s
		&::after
			content: ''
			position: absolute
			display: block
			width: 10px
			height: 16px
			top: 50%
			right: -20px
			transform: translateY(-50%)
			background: url('../img/icons/link-arrows.svg') no-repeat
			transition: all 0.3s

		&:hover
			color: #E8AA31

			&::after
				transform: translate(15px, -50%)

.block-product-slider
	margin-top: 55px
	max-width: 1185px
	@media (max-width: 1613.98px)
		max-width: 900px
	@media (max-width: 1336.98px)
		max-width: 1185px
		margin: 0 auto
	@media (max-width: 1209.98px)
		max-width: 900px
	@media (max-width: 938.98px)
		max-width: 400px
	@media (max-width: 427.98px)
		max-width: 290px
	.slick-dots
		display: flex
		gap: 15px
		justify-content: center
		margin-top: 56px
		@media (max-width: 938.98px)
			margin-top: 36px
		button
			font-size: 0
			width: 18px
			height: 2px
			background: #FFFFFF
		.slick-active
			button
				background: #E8AA31
				position: relative
				&::before
					content: ''
					display: block
					position: absolute
					width: 10px
					height: 10px
					background: #E8AA31
					top: -4px
					left: -6px
					border-radius: 100%
					transition: all 0.3s

			&:hover ::before
				background: #E8AA31
				left: 12px

/* ===========================================  news-block */

.news-block
	padding: 30px 0 50px 0
	@media (max-width: 814.98px)
		padding: 20px 0

	&__container

	&__title
		font-weight: 700
		font-size: 30px
		line-height: 46px
		letter-spacing: 0.05em
		color: #141414
		margin-bottom: 30px

	&__wrapper
		display: grid
		grid-template-columns: repeat(4, 1fr)
		gap: 29px
		@media (max-width: 1616.98px)
			grid-template-columns: repeat(2, 1fr)

		@media (max-width: 814.98px)
			grid-template-columns: 1fr

.news-item

	&:hover .news-item__img img
		transform: scale(1.05)

	&__img
		width: 100%
		height: 200px
		overflow: hidden
		display: block

		img
			width: 100%
			height: 100%
			object-fit: cover
			transition: all 0.3s

	&__info
		padding: 20px 32px
		@media (max-width: 420.98px)
			padding: 20px 13px

	&__name
		margin-bottom: 8px
		a
			font-weight: 600
			font-size: 20px
			line-height: 34px
			color: #141414

	&__date
		font-weight: 500
		font-size: 16px
		line-height: 34px
		color: #ABABAB

/* ===========================================  info-block-about-category */

.info-block-about-category
	padding: 30px 0 100px
	@media (max-width: 814.98px)
		padding: 30px 0 27px

	&__container
		display: flex
		justify-content: space-between
		gap: 47px
		flex-wrap: wrap

/* ===========================================  block-about-category */
.block-about-category
	background: #FFFFFF
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
	flex: 0 1 770px
	display: flex
	padding: 30px 0 32px 30px
	overflow: hidden
	gap: 30px
	min-height: 293px
	@media (max-width: 1616.98px)
		flex: 0 1 100%
		justify-content: space-evenly

	@media (max-width: 800.98px)
		flex: 0 1 770px
		justify-content: flex-start
	@media (max-width: 493.98px)
		gap: 0

	&__info
		flex: 0 1 345px
		display: flex
		flex-direction: column
		@media (max-width: 493.98px)
			z-index: 3

	&__title
		font-weight: 600
		font-size: 24px
		line-height: 34px
		color: #000000
		position: relative
		margin-bottom: 49px
		&::after
			content: ''
			display: block
			position: absolute
			bottom: -15px
			left: 0
			height: 2px
			width: 60px
			background: #E8AA31

	&__descr
		font-weight: 500
		font-size: 18px
		line-height: 27px
		color: #000000
		margin-bottom: 49px
		flex: 1 1 auto
		@media (max-width: 493.98px)
			background: rgba(232, 171, 49, 0.862)
			padding: 5px
			border-radius: 5px

	&__btn
		display: block
		background: #E8AA31
		box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43)
		max-width: 316px
		height: 50px
		border-radius: 3px
		font-weight: 600
		font-size: 18px
		line-height: 46px
		color: #FFFFFF
		display: flex
		justify-content: center
		align-items: center
		transition: background 0.3s
		&:hover
			background: #7c6534

	&__img
		//border: 2px solid red
		flex: 0 0 300px
		position: relative
		@media (max-width: 800.98px)
			flex: 0 1 300px
		@media (max-width: 493.98px)
			z-index: 2
			flex: 0 1 30px

		img
			position: absolute
			right: -80px
			bottom: -80px
			width: 300px
			height: 300px
			object-fit: contain

/* ===========================================  category-block-productes */
.category-block-productes
	padding: 30px 0 80px

	&__container

	&__title-wrapper
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 62px
		flex-wrap: wrap
		gap: 15px

	&__block-name
		font-weight: 700
		font-size: 30px
		line-height: 46px
		letter-spacing: 0.05em
		color: #141414

	&__block-link
		font-weight: 600
		font-size: 18px
		line-height: 46px
		letter-spacing: 0.05em
		color: rgba(20, 20, 20, 0.58)
		padding-right: 25px
		position: relative
		transition: all 0.3s
		&::after
			content: ''
			position: absolute
			display: block
			width: 10px
			height: 16px
			top: 50%
			right: 0
			transform: translateY(-50%)
			background: url('../img/icons/link-arrows.svg') no-repeat
			transition: all 0.3s

		&:hover
			color: #E8AA31

			&::after
				transform: translate(7px, -50%)

	&__prod-wrapper
		display: flex
		flex-wrap: wrap
		gap: 25px

/* ===========================================  seo-text-block */

.seo-text-block
	padding: 60px 0
	background: url(../img/seo-text-bg.jpg) center center / cover no-repeat
	h1
		font-weight: 700
		font-size: 30px
		line-height: 46px
		letter-spacing: 0.05em
		color: #E8AA31
		margin-bottom: 30px
		text-align: center
		@media (max-width: $mobile)
			font-size: 20px
			line-height: 32px
			margin-bottom: 20px

	h2
		font-weight: 600
		font-size: 30px
		line-height: 46px
		letter-spacing: 0.05em
		color: #E8AA31
		margin-bottom: 30px
		text-align: center
		@media (max-width: $mobile)
			font-size: 20px
			line-height: 32px
			margin-bottom: 20px

	p
		font-weight: 500
		font-size: 18px
		line-height: 27px
		letter-spacing: 0.03em
		color: #FFFFFF
		margin-bottom: 20px
		@media (max-width: $mobile)
			font-size: 16px
			line-height: 24px
			margin-bottom: 18px

	ul
		margin-left: 10px
		li
			font-weight: 500
			font-size: 18px
			line-height: 27px
			letter-spacing: 0.03em
			color: #FFFFFF
			margin-bottom: 10px
			padding-left: 25px
			position: relative
			&::before
				content: ''
				position: absolute
				display: block
				width: 7px
				height: 7px
				top: 10px
				left: 0
				background: #E8AA31
			@media (max-width: $mobile)
				font-size: 16px
				line-height: 24px
				margin-bottom: 7px

	ol
		margin-left: 10px
		padding-left: 0
		li
			font-weight: 500
			font-size: 18px
			line-height: 27px
			letter-spacing: 0.03em
			color: #FFFFFF
			margin-bottom: 10px
			padding-left: 25px
			position: relative
			@media (max-width: $mobile)
				font-size: 16px
				line-height: 24px
				margin-bottom: 7px
